<section class="py-5 py-lg-0 bg-smoke2">
    <div class="container text-center text-lg-start">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg text-center text-lg-start wow fadeInUp" data-wow-delay="0.2s">
                <h2 class="sec-title mb-10">Welcome to Online Store</h2>
                <p class="fs-24 mb-0">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <div class="d-none d-lg-block mt-35">
                    <a href="#" class="ot-btn btn-full">buy now</a>
                </div>
            </div>
            <div class="col-lg-auto wow fadeInUp" data-wow-delay="0.3s">
                <div class="logo-color text-center mt-35">
                    <img src="{{section.settings.hero_bg_img | img_url: '1920x' }}" alt="{{section.settings.hero_bg_img.alt }}">
                </div>
                <div class="d-block d-lg-none mt-30">
                    <a href="#" class="ot-btn btn-full">buy now</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "All Product Hero",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "sub_heading",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "buy_link",
          "label": "Buy Now"
        },
        {
          "type": "image_picker",
          "id": "main_img",
          "label": "Image"
        }
        
      ],
      "presets": [
      {
        "name": "All Product Hero",
        "category":"product"
        
      }
    ]
    }
{% endschema %}