<section class="">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="content-box2">
                    <p class="fs-40 mb-30 text-theme fw-bold">Our mission at The SkinBiome Co. is simple.</p>
                    <p class="fs-40 mb-0">We aim to eradicate skin problems through the power of our skin microbiome –
                        the natural way – starting with our first product for Eczema-prone-skin. <b>We believe that you
                            deserve better natural, science-driven skincare!</b></p>
                </div>
            </div>
            <div class="col-xl-6 mt-30 mt-xl-0 wow fadeInRight" data-wow-delay="0.2s">
                <div class="ms-xxl-4 ps-xl-2">
                    <div class="rounded-10">
                        <img class="w-100" src="assets/img/normal/cream_in_hand.jpg" alt="img">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-35 wow fadeInUp" data-wow-delay="0.2s">
            <p class="fs-40 mb-4">Here at The SkinBiome Co., we only use all-natural active ingredients to tackle mild
                Eczema. Eliminate Your Eczema Now with Our Steroid-Free Cream!</p>
            <a href="#" class="ot-btn btn-full">buy now</a>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Our Story Bottom Content",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "main_content",
          "label": "Content"
        },
        {
            "type": "image_picker",
            "id": "first_img",
            "label": "Image"
        },
        {
          "type": "textarea",
          "id": "img_content",
          "label": "Description"
        }  
        
      ],
      "presets": [
        {
          "name": "Our Story Content",
          "category": "our story"
  
        }
      ]
  
    }
{% endschema %}