<section class="space bg-theme">
    <div class="container">
        <h3 class="sec-title text-white mb-35 text-center">Contact US</h3>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-md-10">
                {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" id="name" placeholder="Full Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="Your Email"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea name="message" id="message" placeholder="Your Message"
                                    class="form-control style2"></textarea>
                                <textarea
                                rows="10"
                                id="ContactForm-body"
                                class="text-area field__input"
                                name="contact[{{ 'templates.contact.form.comment' | t }}]"
                                placeholder="{{ 'templates.contact.form.comment' | t }}"
                                >
                                {{- form.body -}}
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0 text-center">
                        <button type="submit" class="ot-btn style3 btn-full">
                            Submit
                        </button>
                    </div>
                {%- endform -%}
            </div>
        </div>
    </div>
</section>