<section class="space-top">
    <div class="container">
        <div class="wow fadeInUp" data-wow-delay="0.2s">
            <h2 class="sec-title mb-45">Shipping information</h2>
            <p class="fs-30 mb-30">Through our authorized retail partners on [Amazon, Shipper and SG-firm, we are
                currently able to ship to Italy, Indonesia and Singapore. Once your order is placed, you will receive a
                confirmation with a tracking number [within 24h] and your products should be at your doorstep within
                [2-3 business days].</p>
            <p class="fs-30 mb-30"><b>*Estimated delivery timeline, actual delivery may vary. Shipments to suburban
                    towns may experience longer delivery times.</b></p>
        </div>
        <div class="content-box3">
            <p class="fs-40 mb-0">Should you ever feel unsatisfied with our product for any reason, feel free to reach
                out to our friendly Customer Care Team at <b><a
                        href="mailto:CCT@skinbiomeco.com">CCT@skinbiomeco.com</a></b></p>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Customer Service Text",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading"
        },
        {
          "type": "textarea",
          "id": "desc_heading",
          "label": "Description"
        },
        {
          "type": "textarea",
          "id": "desc_heading_two",
          "label": "Description Part Two"
        },
        {
          "type": "url",
          "id": "desc_btn",
          "label": "Buy Now"
        },
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "Image"
        }
        
      ],
      "presets": [
      {
        "name": "Customer Service Text",
        "category":"customer"
        
      }
    ]
    }
{% endschema %}