<section class="space">
    <div class="container">
        <h3 class="sec-title">Featured products</h3>

        <div class="row gy-30">
            {% for product in block.settings.collection.products limit: 9 %}

            <div class="col-lg-4 col-md-6">
                <div class="ot-product wow fadeInUp" data-wow-delay="0.1s">
                    {% comment %} <span class="tag"><b>Sale:</b> 10% discount </span> {% endcomment %}
                    <div class="product-img">
                        <img class="logo-color" src="assets/img/product/product_1.png" alt="Product Image">
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="shop-details.html">Derma Relief Cream</a></h3>
                        <p class="price">£10.00 GBP <del>£15.00 GBP</del></p>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
        {% comment %} <div class="ot-pagination text-center mt-5">
            <ul>
                <li><a class="prev" href="blog.html">
                        <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 12L7.4 10.55L3.85 7H16V5H3.85L7.4 1.45L6 0L0 6L6 12Z" fill="#600343" />
                        </svg>
                    </a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="blog.html">
                        <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 12L8.6 10.55L12.15 7H0V5H12.15L8.6 1.45L10 0L16 6L10 12Z" fill="#600343" />
                        </svg>
                    </a></li>
            </ul>
        </div> {% endcomment %}
    </div>
</section>

{% schema %}
    {
      "name": "Custom Featured Product",
      "settings": [
        {
          "type": "header",
          "content": "product tab slider"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Section Title"
        }
      ],
      "blocks": [
        {
          "type": "collection",
          "name": "collection",
          "settings": [
            {
              "type": "collection",
              "id": "collection",
              "label": "Select A Collection"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Custom Featured Product",
          "category": "product"
        }
      ]
    }
  {% endschema %}