<section class="space overflow-hidden">
    <div class="container">
        <h3 class="sec-title text-center wow fadeInUp" data-wow-delay="0.2s">{{section.settings.heading }}</h3>
        <div class="splide wow fadeInUp" data-wow-delay="0.2s" id="review-slider">
            <div class="splide__track">
                <div class="splide__list">

                    <div class="splide__slide">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <div class="img">
                                    <img class="w-100" src="assets/img/normal/testi_1_1.jpg" alt="Image">
                                    <span class="text">Before</span>
                                </div>
                                <div class="img">
                                    <img class="w-100" src="assets/img/normal/testi_1_2.jpg" alt="Image">
                                    <span class="text">After [one week]</span>
                                </div>
                            </div>
                            <div class="madia-body">
                                <p class="testi-box_text">I love that my Derma Relief Cream is a sustainable
                                    steroid-free solution to calmer and healthier skin!</p>
                                <h3 class="testi-box_name">Jon <br>Derma Relief Cream</h3>
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide">
                        <div class="testi-box">
                            <div class="testi-box_img">
                                <div class="img">
                                    <img class="w-100" src="assets/img/normal/testi_1_1.jpg" alt="Image">
                                    <span class="text">Before</span>
                                </div>
                                <div class="img">
                                    <img class="w-100" src="assets/img/normal/testi_1_2.jpg" alt="Image">
                                    <span class="text">After [one week]</span>
                                </div>
                            </div>
                            <div class="madia-body">
                                <p class="testi-box_text">I love that my Derma Relief Cream is a sustainable
                                    steroid-free solution to calmer and healthier skin!</p>
                                <h3 class="testi-box_name">Jon <br>Derma Relief Cream</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>