<div class="contact-notice">
    <p class="fs-40">
         If we haven’t managed to address your questions, email us directly at <br>
        <a href="mailto:CCT@theskinbiomeco.com">CCT@theskinbiomeco.com!</a>
    </p>
</div>