<div class="contact-notice">
    <p class="fs-40">
         If we haven’t managed to address your questions, email us directly at <br>
        <a href="mailto:CCT@theskinbiomeco.com">CCT@theskinbiomeco.com!</a>
    </p>
</div>
{% schema %}
    {
      "name": "Home About",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "About Button"
        },
        {
          "type": "url",
          "id": "btn_link_two",
          "label": "Buy Now Button"
        }, {
          "type": "image_picker",
          "id": "img_one",
          "label": "Image One"
        }, {
          "type": "image_picker",
          "id": "img_two",
          "label": "Image Two"
        }, {
          "type": "image_picker",
          "id": "img_three",
          "label": "Image Three"
        }
  
      ],
      "presets": [
        {
          "name": "Home About",
          "category": "Home"
  
        }
      ]
    }
  {% endschema %}