<div class="space-top">
        <div class="container">
            <h2 class="sec-title text-center">{{section.settings.heading }}</h2>
            <div class="nav faq-tab" id="faqTab" role="tablist">
                <a class="nav-link ot-btn active" id="official-tab" data-bs-toggle="tab" href="#official" role="tab" aria-controls="official" aria-selected="true">The SkinBiome Co.</a>
                <a class="nav-link ot-btn" id="customer-tab" data-bs-toggle="tab" href="#customer" role="tab" aria-controls="customer" aria-selected="false">Customer Support FAQs</a>              

            </div>
            <div class="tab-content" id="faqTabContent">
                <div class="tab-pane fade show active" id="official" role="tabpanel" aria-labelledby="official-tab">
                    <h5 class="border-title">Contents of my Derma Relief Cream</h5>

                    {% section 'tab-one-first-faq' %}
                    <h5 class="border-title">Contents of my Derma Relief Cream</h5>

                    <div class="accordion-area accordion" id="faqAccordion">


                        <div class="accordion-card active">
                            <div class="accordion-header" id="collapse-item-1">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">What does my Derma Relief Cream contain?</button>
                            </div>
                            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The SkinBiome Co.’s Derma Relief Cream is carefully formulated in the science lab of Dr Davide Pennino. Each jar of Derma Relief Cream contains just 14 ingredients: Aqua, Disodium Ethylenediaminetetraacetic acid (EDTA), Acrylates/C10-30 Alkyl Acrylate Crosspolymer, Glycerin, Dermafixium, Niacinamide phenoxyethanol, Shea butter, Sodium acrylate, Helianthus Annuus (Sunflower) Seed Oil, Ethyl Olivate/Olea Europaea (Olive) Leaf Extract, Hydrolyzed Jojoba Esters, Phytosteryl/Octyldodecyl Lauroyl Glutamate, Ethylhexylglycerin and Penoxyethanol. Also, the Derma Relief Cream is GMO-free!</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">Is my Derma Relief Cream product clean?</button>
                            </div>
                            <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The SkinBiome Co.’s Derma Relief Cream is carefully formulated in the science lab of Dr Davide Pennino. Each jar of Derma Relief Cream contains just 14 ingredients: Aqua, Disodium Ethylenediaminetetraacetic acid (EDTA), Acrylates/C10-30 Alkyl Acrylate Crosspolymer, Glycerin, Dermafixium, Niacinamide phenoxyethanol, Shea butter, Sodium acrylate, Helianthus Annuus (Sunflower) Seed Oil, Ethyl Olivate/Olea Europaea (Olive) Leaf Extract, Hydrolyzed Jojoba Esters, Phytosteryl/Octyldodecyl Lauroyl Glutamate, Ethylhexylglycerin and Penoxyethanol. Also, the Derma Relief Cream is GMO-free!</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse-item-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">Is my Derma Relief Cream fragrance free?</button>
                            </div>
                            <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p class="faq-text">The SkinBiome Co.’s Derma Relief Cream is carefully formulated in the science lab of Dr Davide Pennino. Each jar of Derma Relief Cream contains just 14 ingredients: Aqua, Disodium Ethylenediaminetetraacetic acid (EDTA), Acrylates/C10-30 Alkyl Acrylate Crosspolymer, Glycerin, Dermafixium, Niacinamide phenoxyethanol, Shea butter, Sodium acrylate, Helianthus Annuus (Sunflower) Seed Oil, Ethyl Olivate/Olea Europaea (Olive) Leaf Extract, Hydrolyzed Jojoba Esters, Phytosteryl/Octyldodecyl Lauroyl Glutamate, Ethylhexylglycerin and Penoxyethanol. Also, the Derma Relief Cream is GMO-free!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="customer-tab">

                    <div class="accordion-area accordion" id="faqAccordion2">


                        <div class="accordion-card active">
                            <div class="accordion-header" id="collapse2-item-1">
                                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse2-1" aria-expanded="true" aria-controls="collapse2-1">What does my Derma Relief Cream contain?</button>
                            </div>
                            <div id="collapse2-1" class="accordion-collapse collapse show" aria-labelledby="collapse2-item-1" data-bs-parent="#faqAccordion2">
                                <div class="accordion-body">
                                    <p class="faq-text">The SkinBiome Co.’s Derma Relief Cream is carefully formulated in the science lab of Dr Davide Pennino. Each jar of Derma Relief Cream contains just 14 ingredients: Aqua, Disodium Ethylenediaminetetraacetic acid (EDTA), Acrylates/C10-30 Alkyl Acrylate Crosspolymer, Glycerin, Dermafixium, Niacinamide phenoxyethanol, Shea butter, Sodium acrylate, Helianthus Annuus (Sunflower) Seed Oil, Ethyl Olivate/Olea Europaea (Olive) Leaf Extract, Hydrolyzed Jojoba Esters, Phytosteryl/Octyldodecyl Lauroyl Glutamate, Ethylhexylglycerin and Penoxyethanol. Also, the Derma Relief Cream is GMO-free!</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse2-item-2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">Is my Derma Relief Cream product clean?</button>
                            </div>
                            <div id="collapse2-2" class="accordion-collapse collapse " aria-labelledby="collapse2-item-2" data-bs-parent="#faqAccordion2">
                                <div class="accordion-body">
                                    <p class="faq-text">The SkinBiome Co.’s Derma Relief Cream is carefully formulated in the science lab of Dr Davide Pennino. Each jar of Derma Relief Cream contains just 14 ingredients: Aqua, Disodium Ethylenediaminetetraacetic acid (EDTA), Acrylates/C10-30 Alkyl Acrylate Crosspolymer, Glycerin, Dermafixium, Niacinamide phenoxyethanol, Shea butter, Sodium acrylate, Helianthus Annuus (Sunflower) Seed Oil, Ethyl Olivate/Olea Europaea (Olive) Leaf Extract, Hydrolyzed Jojoba Esters, Phytosteryl/Octyldodecyl Lauroyl Glutamate, Ethylhexylglycerin and Penoxyethanol. Also, the Derma Relief Cream is GMO-free!</p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-card ">
                            <div class="accordion-header" id="collapse2-item-3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3">Is my Derma Relief Cream fragrance free?</button>
                            </div>
                            <div id="collapse2-3" class="accordion-collapse collapse " aria-labelledby="collapse2-item-3" data-bs-parent="#faqAccordion2">
                                <div class="accordion-body">
                                    <p class="faq-text">The SkinBiome Co.’s Derma Relief Cream is carefully formulated in the science lab of Dr Davide Pennino. Each jar of Derma Relief Cream contains just 14 ingredients: Aqua, Disodium Ethylenediaminetetraacetic acid (EDTA), Acrylates/C10-30 Alkyl Acrylate Crosspolymer, Glycerin, Dermafixium, Niacinamide phenoxyethanol, Shea butter, Sodium acrylate, Helianthus Annuus (Sunflower) Seed Oil, Ethyl Olivate/Olea Europaea (Olive) Leaf Extract, Hydrolyzed Jojoba Esters, Phytosteryl/Octyldodecyl Lauroyl Glutamate, Ethylhexylglycerin and Penoxyethanol. Also, the Derma Relief Cream is GMO-free!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div><!-- This section is for second faq page may be shipping related faq -->
    <!-- This section is for second faq page may be shipping related faq -->
    <!-- This section is for second faq page may be shipping related faq -->
    <div class="mt-35">
        <div class="container">
            <div class="contact-notice">
                <p class="fs-40">
                     {{section.settings.under_text }} <br>
                    <a href="mailto:{{section.settings.under_email }}">{{section.settings.under_email }}!</a>
                </p>
            </div>
        </div>
    </div>

{% schema %}
{
    "name": "FAQ Tab",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
    },
    {
        "type": "text",
        "id": "under_text",
        "label": "Under Text"
    },
    {
        "type": "text",
        "id": "under_email",
        "label": "Under Email"
    }
    ],
    "blocks": [
        {
          "type": "text_block",
          "name": "FAQ Tab One First Content",
          "settings": [
           
            {
            "type": "text",
            "id": "faq_heading",
            "label": "Heading"
            },
            {
            "type": "textarea",
            "id": "faq_text",
            "label": "Description"
            }
          ]
        }
      ],    
    "presets": [
    {
        "name": "FAQ Tab",
        "category": "faq"
    }
    ]
}
{% endschema %}