<div class="space-top">
  <div class="container">
    <h2 class="sec-title text-center">{{section.settings.main_heading }}</h2>
    <div class="nav faq-tab">
      <a class="nav-link ot-btn active" href="faq.html">{{section.settings.faq_tab_one }}</a>
      <a class="nav-link ot-btn" href="customer-support-faq.html">{{section.settings.faq_tab_two }}</a>
    </div>
  </div>
</div>

{% schema %}
    {
      "name": "Faq Top",
      "settings": [        
        {
          "type": "text",
          "id": "main_heading",
          "label": "Page Heading"
        },
        {
          "type": "text",
          "id": "faq_tab_one",
          "label": "Faq Tab Heading"
        },
        {
          "type": "text",
          "id": "faq_tab_two",
          "label": "Faq Tab Heading Two"
        }
        
      ],
      "presets": [
      {
        "name": "FAQ Top",
        "category":"faq"
        
      }
    ]
    }
  {% endschema %}