<div class="space-top">
  <div class="container">
    <h2 class="sec-title text-center">Frequently asked questions</h2>
    <div class="nav faq-tab">
      <a class="nav-link ot-btn active" href="faq.html">The SkinBiome Co.</a>
      <a class="nav-link ot-btn" href="customer-support-faq.html">Customer Support FAQs</a>
    </div>
  </div>
</div>