<div class="space-top">
  <div class="container">
    <h2 class="sec-title text-center">Frequently asked questions</h2>
    <div class="nav faq-tab">
      <a class="nav-link ot-btn active" href="faq.html">The SkinBiome Co.</a>
      <a class="nav-link ot-btn" href="customer-support-faq.html">Customer Support FAQs</a>
    </div>
  </div>
</div>

{% schema %}
    {
      "name": "Hero",
      "settings": [        
        {
          "type": "text",
          "id": "main_heading",
          "label": "Page Heading"
        },
        {
          "type": "text",
          "id": "faq_tab_one",
          "label": "Faq Tab Heading"
        },
        {
          "type": "url",
          "id": "btn_link_two",
          "label": "Buy Now Button Link"
        }
        
      ],
      "presets": [
      {
        "name": "FAQ Top",
        "category":"faq"
        
      }
    ]
    }
  {% endschema %}