<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mb-40 mb-xl-0 wow fadeInUp" data-wow-delay="0.2s">
                <h2 class="sec-title text-theme text-uppercase">{{section.settings.heading }}</h2>
                <p class="fs-40 mt-n3">"Itchy, flaky skin can prevent you from having the life you want. Steroids are
                    not the only solution!</p>
                <p class="fs-40 mb-n2">At The SkinBiome Co., we are committed to help you have more resilient skin the
                    natural way. <br>
                    <b>The answers are in your skin microbiome.</b>
                </p>
                <div class="d-none d-xl-block mt-30">
                    <div class="btn-group">
                        <a href="#" class="ot-btn style2 btn-full">More About Our Story</a>
                        <a href="#" class="ot-btn btn-full">buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="img-box1 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="img1">
                        <img src="assets/img/normal/box_1_1.jpg" alt="img">
                    </div>
                    <div class="img2">
                        <img src="assets/img/normal/box_1_2.jpg" alt="img">
                    </div>
                    <div class="img3">
                        <img src="assets/img/normal/box_1_3.jpg" alt="img">
                    </div>
                </div>
                <div class="d-block d-xl-none mt-40">
                    <div class="btn-group">
                        <a href="#" class="ot-btn style2 btn-full">More About Our Story</a>
                        <a href="#" class="ot-btn btn-full">buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Home About",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "About Button"
        },
        {
          "type": "url",
          "id": "btn_link_two",
          "label": "Buy Now Button"
        },
        {
          "type": "image_picker",
          "id": "img_one",
          "label": "Image One"
        },
        {
          "type": "image_picker",
          "id": "img_two",
          "label": "Image Two"
        },
        {
          "type": "image_picker",
          "id": "img_three",
          "label": "Image Three"
        } 
        
      ],
      "presets": [
      {
        "name": "Home About",
        "category":"Home"
        
      }
    ]
    }
  {% endschema %}