<div class="ot-hero-wrapper hero-slider-1" style="background-image: url('assets/img/bg/hero_bg_1.jpg');">
    <div class="container">
        <div class="hero-content">
            <div class="mb-35 wow fadeInUp" data-wow-delay="0.1s">
                <img src="assets/img/logo-big.png" alt="The Skin Biomeco">
            </div>
            <div class="btn-group wow fadeInUp" data-wow-delay="0.3s">
                <a href="about.html" class="ot-btn style2">get started</a>
                <a href="about.html" class="ot-btn">buy now</a>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Hero",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "BG Image"
        },
        {
          "type": "image_picker",
          "id": "logo_img",
          "label": "Hero Logo"
        },
        {
          "type": "image_picker",
          "id": "hero_img_overlay",
          "label": "BG Image Overlay"
        },
        
        {
          "type": "textarea",
          "id": "heading",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Link"
        }
        
      ],
      "presets": [
      {
        "name": "Home Hero",
        "category":"Home"
        
      }
    ]
    }
  {% endschema %}