<section class="space-extra bg-smoke">
    <div class="container">
        <div class="eye-area">
            <div class="row">
                <div class="col-xl-6">
                    <h4 class="sec-title d-block d-xl-none">More restful sleep at night!</h4>
                    <div class="img-box2">
                        <div class="group">
                            <div class="img1 wow fadeInLeft" data-wow-delay="0.2s">
                                <img src="assets/img/normal/box_2_2.jpg" alt="img">
                                <span class="text">Before</span>
                            </div>
                            <div class="img2 wow fadeInRight" data-wow-delay="0.2s">
                                <img src="assets/img/normal/box_2_3.jpg" alt="img">
                                <span class="text">Day 1</span>
                            </div>
                        </div>
                        <div class="img3 wow fadeInUp" data-wow-delay="0.2s">
                            <img src="assets/img/normal/box_2_1.jpg" alt="img">
                            <span class="text">Day 4</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-40 mt-xl-0 wow fadeInUp" data-wow-delay="0.3s">
                    <h4 class="sec-title d-none d-xl-block">More restful sleep at night!</h4>
                    <p class="fs-30 mt-n2">I've had eczema around my eye and it has been uncomfortable for many years.
                        The skin would get red, dry, cracked, and sensitive. Just taking a shower or washing my face
                        would cause painful stinging, and sometimes I would wake up at night with pain, which is very
                        disruptive to my sleep. I hadn't found a good product until The SkinBiome Co.'s Derma Relief
                        Cream. </p>
                    <p class="fs-30">This product quickly soothes and relieves the discomfort around my eye within a day
                        of application, and it's easy to consistently apply.</p>
                    <h4 class="mb-n2 text-theme">Jeff <br>Derma Relief Cream</h4>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Home Image with Text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Name"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "About Button"
        },
        {
          "type": "url",
          "id": "btn_link_two",
          "label": "Buy Now Button"
        }, {
          "type": "image_picker",
          "id": "img_one",
          "label": "Image One"
        }, {
          "type": "image_picker",
          "id": "img_two",
          "label": "Image Two"
        }, {
          "type": "image_picker",
          "id": "img_three",
          "label": "Image Three"
        }
  
      ],
      "presets": [
        {
          "name": "Home Image with Text",
          "category": "Home"
  
        }
      ]
    }
  {% endschema %}