<div class="ot-hero-wrapper hero-slider-1" style="background-image: url('{{section.settings.hero_bg_img | img_url: '1920x' }}');">
    <div class="container">
        <div class="hero-content">
            <div class="mb-35 wow fadeInUp" data-wow-delay="0.1s">
                <img src="{{section.settings.hero_bg_img | img_url: '1920x' }}" alt="hero-logo">
            </div>
            <div class="btn-group wow fadeInUp" data-wow-delay="0.3s">
                <a href="about.html" class="ot-btn style2">get started</a>
                <a href="about.html" class="ot-btn">buy now</a>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Hero",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "BG Image"
        },
        {
          "type": "image_picker",
          "id": "logo_img",
          "label": "Hero Logo"
        },        
        {
          "type": "url",
          "id": "btn_link",
          "label": "Get Started Button"
        },
        {
          "type": "url",
          "id": "btn_link_two",
          "label": "Buy Now Button"
        }
        
      ],
      "presets": [
      {
        "name": "Home Hero",
        "category":"Home"
        
      }
    ]
    }
  {% endschema %}