<div class="accordion-card style2">
    <div class="accordion-header" id="collapse-item-1">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1"
            aria-expanded="true" aria-controls="collapse-1">What is the skin microbiome?</button>
    </div>
    <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1"
        data-bs-parent="#scienceAccordian">
        <div class="accordion-body">
            <div class="row">
                <div class="col-xxl-5 col-lg-6 mb-4 mb-lg-0">
                    <div class="rounded-10">
                        <img class="w-100" src="assets/img/normal/cell_3.jpg" alt="img">
                    </div>
                </div>
                <div class="col-xxl-7 col-lg-6">
                    <p class="fs-30 mb-30">Our skin is our largest organ, and it's teeming with trillions of
                        microorganisms, like bacteria, fungi, and viruses. These invisible lives form an ecosystem known
                        as the skin microbiome, which, like your gut microbiome, is a critical component of our health.
                    </p>
                    <p class="fs-30 mb-0">Our skin microbiome is an important part of the physical layer that protects
                        you from damages from the outside world, and it works with other parts of your skin to fight
                        infections, heal wounds, and control inflammation.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Left Image with Text",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "desc_heading",
          "label": "Description"
        }
      ],
      "presets": [
      {
        "name": "Left Image with Text",
        "category":"science"
        
      }
    ]
    }
{% endschema %}