<section class="space-bottom">
    <div class="container">
        <div class="title-area text-center">
            <h2 class="sec-title">The Key Active Ingredient: <span class="text-theme">Dermafixium</span></h2>
            <p class="sec-text fs-50 text-theme">A naturally derived active ingredient from Lactobacillus found on skin
            </p>
        </div>
        <div class="row flex-row-reverse align-items-center">
            <div class="col-xl-6 mb-40 mb-xl-0 wow fadeInRight" data-wow-delay="0.2s">
                <div class="rounded-10">
                    <img class="w-100" src="assets/img/normal/cell_1.jpg" alt="img">
                </div>
            </div>
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="pe-xxl-1">
                    <p class="fs-40 mt-n2 mb-n2">Lactobacillus is a good microbe in the human body and on the human
                        skin. The SkinBiome Co.’s Derma Relief Cream contains Dermafixium, a naturally derived microbial
                        extract from the human Lactobacillus strain found on skin. <br> This was made possible by our
                        Founder, Dr Davide Pennino, through his decades of deep scientific research.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Product Text with Image",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "size_heading",
          "label": "Sub Heading"
        },
        {
          "type": "textarea",
          "id": "desc_heading",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "Image"
        }
        
      ],
      "presets": [
      {
        "name": "Product Text with Image",
        "category":"product"
        
      }
    ]
    }
  {% endschema %}