<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-block d-lg-none">
                    <div class="product-about">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="sec-title mb-35">Derma Relief Cream</h2>
                            <div class="product-meta">
                                <p class="fs-30 info"><span class="text-theme">Jar/Tube size: </span>50ml</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="fs-30 text-theme">Description:</h3>
                            <h4 class="fs-40">Our natural solution to healthier skin!</h4>
                            <p class="text">The Derma Relief Cream is a gentle solution containing lysates derived from
                                naturally occurring good microbes and other defined ingredients. It does not contain any
                                synthetic fragrances and has been carefully formulated to restore healthy skin across
                                all ages and all skin types.</p>
                        </div>
                    </div>
                </div>
                <div class="product-big-img">
                    <div class="img wow fadeInUp" data-wow-delay="0.2s">
                        <img class="logo-color" src="assets/img/product/product_1_1.png" alt="Product Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="product-about">
                    <div class="d-none d-lg-block">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="sec-title mb-35">Derma Relief Cream</h2>
                            <div class="product-meta">
                                <p class="fs-30 info"><span class="text-theme">Jar/Tube size: </span>50ml</p>
                            </div>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="fs-30 text-theme">Description:</h3>
                            <h4 class="fs-40">Our natural solution to healthier skin!</h4>
                            <p class="text">The Derma Relief Cream is a gentle solution containing lysates derived from
                                naturally occurring good microbes and other defined ingredients. It does not contain any
                                synthetic fragrances and has been carefully formulated to restore healthy skin across
                                all ages and all skin types.</p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">
                        <div class="info-card">
                            <h5 class="info-title">How to use: </h5>
                            <p class="info-text">Apply directly to affected regions, 4 times daily.</p>
                        </div>
                        <a href="#" class="ot-btn btn-full">buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Product Hero",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "size_heading",
          "label": "Size Text"
        },
        {
          "type": "text",
          "id": "desc_heading",
          "label": "Description Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Get Started Button"
        },
        {
          "type": "image_picker",
          "id": "hero_bg_img",
          "label": "BG Image"
        }
        
      ],
      "presets": [
      {
        "name": "Product Hero",
        "category":"product"
        
      }
    ]
    }
  {% endschema %}