<section class="space-top">
        <h2 class="sec-title text-center wow fadeInUp" data-wow-delay="0.2s">Reviews</h2>
        <div class="bg-smoke space-extra">
            <div class="container">
                <div class="testi-card-area">
                    <div class="testi-card">
                        <div class="testi-card_img">
                            <img src="assets/img/normal/testimonial_1.png" alt="testimonial">
                        </div>
                        <div class="madia-body">
                            <h3 class="testi-card_title">Derma Relief Cream has restored my skin health and my confidence!</h3>
                            <p class="testi-card_text">I have been using steroids to relieve the sore and red skin around my lips, but my skin always became much worse once I stopped steroids. As a result, I get very conscious of the way I look and will always wear a mask or apply (heavy) make up before I leave my home.</p>
                            <p class="testi-card_text">Thanks to The SkinBiome Co.’s Derma Relief Cream, I can now restore my skin health without worrying about the side effects from steroids! I am super happy to have found a cream that provides lasting effect, making me confident in my skin appearance again!</p>
                            <h3 class="testi-card_name">Jon <br>Derma Relief Cream</h3>
                        </div>
                    </div>
                    <div class="testi-card">
                        <div class="testi-card_img">
                            <img src="assets/img/normal/testimonial_2.png" alt="testimonial">
                        </div>
                        <div class="madia-body">
                            <h3 class="testi-card_title">More restful sleep at night!</h3>
                            <p class="testi-card_text">I've had eczema around my eye and it has been uncomfortable for many years. The skin would get red, dry, cracked, and sensitive. Just taking a shower or washing my face would cause painful stinging, and sometimes I would wake up at night with pain, which is very disruptive to my sleep. I hadn't found a good product until The SkinBiome Co.'s Derma Relief Cream.</p>
                            <p class="testi-card_text">This product quickly soothes and relieves the discomfort around my eye within a day of application, and it's easy to consistently apply.</p>
                            <h3 class="testi-card_name">Jon <br>Derma Relief Cream</h3>
                        </div>
                    </div>
                    <div class="testi-card">
                        <div class="testi-card_img">
                            <img src="assets/img/normal/testimonial_3.png" alt="testimonial">
                        </div>
                        <div class="madia-body">
                            <h3 class="testi-card_title">Steroid-free solution to calmer and healthier skin!</h3>
                            <p class="testi-card_text">I have sourced and tried many different products to help with my Eczema but none have truly worked. Steroid-based creams only provide temporary relief and I experience worse flare-ups after stopping use.</p>
                            <p class="testi-card_text">I am extremely happy to have discovered The SkinBiome Co.’s Derma Relief Cream! It reduced itching within hours and relieved my Eczema completely within a week! Most importantly, it is a sustainable solution to getting calmer and healthier skin!</p>
                            <h3 class="testi-card_name">Jon <br>Derma Relief Cream</h3>
                        </div>
                    </div>
                    <div class="testi-card">
                        <div class="testi-card_img">
                            <img src="assets/img/normal/testimonial_4.png" alt="testimonial">
                        </div>
                        <div class="madia-body">
                            <h3 class="testi-card_title">Moisturizing cream that truly works!</h3>
                            <p class="testi-card_text">The SkinBiome Co.’s Derma Relief Cream is a true game changer in the field! For years, I have struggled with persistent flare-ups that leave my skin dry, feeling itchy and uncomfortable.</p>
                            <p class="testi-card_text">Unlike other creams and lotions, Derma Relief Cream is non-greasy and absorbs quickly into the skin. What I really like about this cream is that it contains all-natural active ingredients and is free of synthetic chemicals!</p>
                            <h3 class="testi-card_name">Jon <br>Derma Relief Cream</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>