<div class="accordion-card style2">
    <div class="accordion-header" id="collapse-item-4">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4"
            aria-expanded="true" aria-controls="collapse-4">What is Dermafixium, and how does it help?</button>
    </div>
    <div id="collapse-4" class="accordion-collapse collapse show" aria-labelledby="collapse-item-4"
        data-bs-parent="#scienceAccordian">
        <div class="accordion-body">
            <div class="row">
                <div class="col-xl-7 mb-30">
                    <p class="fs-30 mb-30">Dr Pennino has over 15 years of experience researching the role of the skin
                        microbiome in inflammatory conditions like Eczema. While at St John's Institute of Dermatology
                        at King's College London, one of the world's leading centers for skin disease research and
                        healthcare, he participated in analyzing one of the largest skin microbiome datasets in the
                        world for skin disorders.</p>
                    <p class="fs-30 mb-0">The SkinBiome Co. team analyzed millions of human datapoints using artificial
                        intelligence (A.I) and other scientific experimentation. From this, the team first identified
                        several families of microbes which were missing in the skin of affected patients which enables
                        Eczema.</p>
                </div>
                <div class="col-xl-5 mb-30">
                    <img class="w-100 rounded-10" src="assets/img/normal/map_1.jpg" alt="img">
                </div>
            </div>
            <p class="fs-30 mb-15">The team continued to build several analytical models- which led to the prediction
                and assessment of many beneficial effects of these good microbes using thorough data analyses and
                rigorous laboratory testing in their laboratory in Cambridge, UK.</p>
            <p class="fs-30 mb-15">After years of research and validation, Dr Pennino discovered the proprietary
                all-natural active ingredient: Dermafixium, which contributes to skin collagen formation and promotes
                reparatory and anti-inflammatory mechanisms.</p>
            <p class="fs-30 mb-0">At The SkinBiome Co., Dr Pennino and his team are keen to continue using A.I to
                supercharge the discovery of skin specific good microbes and develop new transformative products to
                tackle multiple skin disorders.</p>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Right Image with Text",
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Heading"
        },
        
        {
          "type": "textarea",
          "id": "desc_heading",
          "label": "Description"
        }
      ],
      "presets": [
      {
        "name": "Right Image with Text",
        "category":"science"
        
      }
    ]
    }
{% endschema %}