<h5 class="border-title">Contents of my Derma Relief Cream</h5>

<div class="accordion-area accordion" id="faqAccordion">

{% for block in section.blocks %}
    <div class="accordion-card active">
        <div class="accordion-header" id="collapse-item-1">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1"
                aria-expanded="true" aria-controls="collapse-1">{{ block.settings.faq_heading }}</button>
        </div>
        <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                <p class="faq-text">{{ block.settings.faq_text }}</p>
            </div>
        </div>
    </div>
{% endfor %}


</div>

{% schema %}
{
"name": "Faq Second Content",

"blocks": [
{
"type": "text_block",
"name": "FAQ Tab One First Content",
"settings": [

{
"type": "text",
"id": "faq_heading",
"label": "Heading"
},
{
"type": "textarea",
"id": "faq_text",
"label": "Description"
}
]
}
]

}
{% endschema %}