{% for block in section.blocks %}
<div class="accordion-card active">
    <div class="accordion-header" id="collapse2-item-1">
        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse2-1"
            aria-expanded="true" aria-controls="collapse2-1">{{ block.settings.faq_heading }}</button>
    </div>
    <div id="collapse2-1" class="accordion-collapse collapse show" aria-labelledby="collapse2-item-1"
        data-bs-parent="#faqAccordion2">
        <div class="accordion-body">
            <p class="faq-text">{{ block.settings.faq_text }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% schema %}
{
"name": "Tab Two Content",

"blocks": [
{
"type": "text_block",
"name": "FAQ Tab Two Content",
"settings": [

{
"type": "text",
"id": "faq_heading",
"label": "Heading"
},
{
"type": "textarea",
"id": "faq_text",
"label": "Description"
}
]
}
]

}
{% endschema %}