<section class="overflow-hidden space-top">
    <h2 class="sec-title text-center wow fadeInUp" data-wow-delay="0.2s">Reviews</h2>
    <div class="bg-smoke space-extra">
        <div class="container">
            <div class="testi-card-area">
                <div class="splide slider-shadow" id="review-slider2">
                    <div class="splide__track">
                        <div class="splide__list">
                            {% for block in section.blocks %}
                            <div class="splide__slide">
                                <div class="testi-card">
                                    <div class="testi-card_img">
                                        <img src="{{ block.settings.author_img | img_url: '1920x' }}" alt="{{block.settings.img_two.alt }}">
                                    </div>
                                    <div class="madia-body">
                                        <h3 class="testi-card_title">Derma Relief Cream has restored my skin health and
                                            my confidence!</h3>
                                        <p class="testi-card_text">I have been using steroids to relieve the sore and
                                            red skin around my lips, but my skin always became much worse once I stopped
                                            steroids. As a result, I get very conscious of the way I look and will
                                            always wear a mask or apply (heavy) make up before I leave my home.</p>
                                        <p class="testi-card_text">Thanks to The SkinBiome Co.’s Derma Relief Cream, I
                                            can now restore my skin health without worrying about the side effects from
                                            steroids! I am super happy to have found a cream that provides lasting
                                            effect, making me confident in my skin appearance again!</p>
                                        <h3 class="testi-card_name">Jon <br>Derma Relief Cream</h3>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% schema %}
    {
      "name": "Testimonial Slider",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ],
      "blocks": [
        {
          "type": "text_block",
          "name": "Testimonial Slider",
          "settings": [
            {
              "type": "image_picker",
              "id": "testimonial_img",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "author_heading",
              "label": "Heading"
            },
            {
              "type": "textarea",
              "id": "author_description",
              "label": "Description"
            }, {
              "type": "textarea",
              "id": "author_name",
              "label": "Name"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Testimonial Slider",
          "category": "testimonial"
  
        }
      ]
  
    }
  {% endschema %}