<div class="space-top">
    <div class="container">
        <h2 class="sec-title text-center">Frequently asked questions</h2>
        <div class="nav faq-tab" id="faqTab" role="tablist">
            <a class="nav-link ot-btn active" id="official-tab" data-bs-toggle="tab" href="#official" role="tab"
                aria-controls="official" aria-selected="true">The SkinBiome Co.</a>
            <a class="nav-link ot-btn" id="customer-tab" data-bs-toggle="tab" href="#customer" role="tab"
                aria-controls="customer" aria-selected="false">Customer Support FAQs</a>
        </div>
        <div class="tab-content" id="faqTabContent">
            <div class="tab-pane fade show active" id="official" role="tabpanel" aria-labelledby="official-tab">
                {% section 'tab-one-first-faq-content' %}
                {% section 'tab-one-second-faq-content' %}
            </div>
            <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="customer-tab">

                <div class="accordion-area accordion" id="faqAccordion2">

                    {% section 'tab-two-faq-content' %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-35">
    <div class="container">
        {% section 'faq-under-content' %}
    </div>
</div>
{% section 'faq-under-content' %}
{% section 'faq-under-content' %}

