<div class="space-top">
    <div class="container">
        <h2 class="sec-title text-center">Frequently asked questions</h2>
        <div class="nav faq-tab" id="faqTab" role="tablist">
            <a class="nav-link ot-btn active" id="official-tab" data-bs-toggle="tab" href="#official" role="tab"
                aria-controls="official" aria-selected="true">The SkinBiome Co.</a>
            <a class="nav-link ot-btn" id="customer-tab" data-bs-toggle="tab" href="#customer" role="tab"
                aria-controls="customer" aria-selected="false">Customer Support FAQs</a>
        </div>
        <div class="tab-content" id="faqTabContent">
            <div class="tab-pane fade show active" id="official" role="tabpanel" aria-labelledby="official-tab">
                {% section 'tab-one-first-faq-content' %}
                {% section 'tab-one-second-faq-content' %}
            </div>
            <div class="tab-pane fade" id="customer" role="tabpanel" aria-labelledby="customer-tab">

                <div class="accordion-area accordion" id="faqAccordion2">

                    {% section 'tab-two-faq-content' %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-35">
    <div class="container">
        {% section 'faq-under-content' %}
    </div>
</div>


<section class="py-5 bg-theme">
    <div class="container text-center text-lg-start">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg text-center text-lg-start wow fadeInUp" data-wow-delay="0.2s">
                <h2 class="sec-title text-white mb-0">The SkinBiome Co.</h2>
                <p class="fs-40 text-white mt-2 mt-lg-0">Eliminate Your Eczema Now With our Steroid-Free Cream!</p>
                <div class="d-none d-lg-block mt-30">
                    <a href="#" class="ot-btn style4">buy now</a>
                </div>
            </div>
            <div class="col-lg-auto wow fadeInUp" data-wow-delay="0.3s">
                <div class="logo-color text-center mt-2 mt-lg-0">
                    <img src="assets/img/product/cream_img_2.png" alt="product">
                </div>
                <div class="d-block d-lg-none mt-30">
                    <a href="#" class="ot-btn style4 btn-full">buy now</a>
                </div>
            </div>
        </div>

    </div>
</section>